<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <!--
        <property name="hibernate.connection.datasource">java:comp/env/jdbc/GEOPORTAL_POSTGIS_DS</property>
        -->
    <!-- 		<property name="connection.datasource">java:comp/env/jdbc/GEOPORTAL_POSTGIS_DS</property> -->
    <property name="hibernate.connection.username">geoportal_user</property>
    <property name="hibernate.connection.password">geoportal_user</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/geoportal</property>
    <!-- Use the C3P0 connection pool. -->
    <property name="c3p0.min_size">1</property>
    <property name="c3p0.max_size">1</property>
    <property name="c3p0.timeout">1800</property>
    <property name="hibernate.default_schema">geoportal</property>
    <property name="show_sql">true</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <!-- <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property> 
        <property name="hibernate.search.autoregister_listeners">false</property> -->
    <mapping class="it.gesp.geoportal.dao.entities.User"/>
    <mapping class="it.gesp.geoportal.dao.entities.Role"/>
    <mapping class="it.gesp.geoportal.dao.entities.Permission"/>
    <mapping class="it.gesp.geoportal.dao.entities.Log"/>
    <mapping class="it.gesp.geoportal.dao.entities.SystemSetting"/>
    <mapping class="it.gesp.geoportal.dao.entities.GeneralSetting"/>
    <mapping class="it.gesp.geoportal.dao.entities.AlertSetting"/>
    <mapping class="it.gesp.geoportal.dao.entities.LayerGroup"/>
    <mapping class="it.gesp.geoportal.dao.entities.Map"/>
    <mapping class="it.gesp.geoportal.dao.entities.Layer"/>
    <mapping class="it.gesp.geoportal.dao.entities.LayerSource"/>
    <mapping class="it.gesp.geoportal.dao.entities.LayerConfig"/>
    <mapping class="it.gesp.geoportal.dao.entities.LayerType"/>
    <mapping class="it.gesp.geoportal.dao.entities.LayerGroupLayer"/>
    <mapping class="it.gesp.geoportal.dao.entities.MapConfigVw"/>
    <mapping class="it.gesp.geoportal.dao.entities.LayerConfigVw"/>
    <mapping class="it.gesp.geoportal.dao.entities.AlertType"/>
    <mapping class="it.gesp.geoportal.dao.entities.AlertStatus"/>
    <mapping class="it.gesp.geoportal.dao.entities.Alert"/>
    <mapping class="it.gesp.geoportal.dao.entities.AlertIntersection"/>
    <mapping class="it.gesp.geoportal.dao.entities.Comment"/>
    <mapping class="it.gesp.geoportal.dao.entities.VWAlert"/>
    <mapping class="it.gesp.geoportal.dao.entities.DepartmentPermissionMapping"/>
  </session-factory>
</hibernate-configuration>
