
/*
* Dialog for INSERT.
* uncomment if this is to be rendered in a DIV and
*  not in a floating dialog
*/ 
/* #alert-simple-panel-insert { */
/* 	position: absolute; */
/* 	bottom: 24px; */
/* 	left: 95px; */
/* 	height: 300px; */
/* 	width: 600px; */
/* 	padding: 3px; */
/* 	background: #fff; */
/* 	border: 1px solid #C5C5C5; */
/* 	-moz-border-radius: 5px; */
/* 	-webkit-border-radius: 5px; */
/* 	border-radius: 5px; */
/* } */

#simple-insert-alerts-name,
#simple-insert-alerts-email,
#simple-insert-alerts-title,
#simple-insert-alerts-date,
#simple-insert-alerts-phone,
#simple-insert-alerts-mobile
{
	width: 265px;
}

#insert-alerts-name,
#insert-alerts-email,
#insert-alerts-title,
#insert-alerts-date,
#insert-alerts-phone,
#insert-alerts-mobile
{
	width: 265px;
}

#update-alerts-name,
#update-alerts-email,
#update-alerts-title,
#update-alerts-date,
#update-alerts-phone,
#update-alerts-mobile
{
	width: 265px;
}

#simple-detail-alerts-name,
#simple-detail-alerts-date,
#simple-detail-alerts-department,
#simple-detail-alerts-type,
#simple-detail-alerts-email,
#simple-detail-alerts-phone,
#simple-detail-alerts-mobile
#simple-detail-alerts-insert-date,
#simple-detail-alerts-current-status {
	width: 265px;
}





#alert-simple-panel-insert-header {
	overflow: hidden;
	position: relative;
	height: auto;
/* 	background: #4D6A75; */
	background: #4C4D4D;
	border: 1px solid #fff;
	font-weight: 800;
	color: #fff;
	padding: 2px 0 1px 3px;	
}

#alert-simple-panel-insert .itemform .form-label-title,
#alert-simple-panel-detail .itemform .form-label-title {
	padding-top: 6px;
}

#alert-simple-panel-detail .formFieldScrollable {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 36px;
  overflow: auto
}

#alert-simple-panel-detail .data-grid-form-footer {
  position: absolute;
  bottom: 0;
  height: 29px;
  left: 0px;
  right: 0px;
 }


/*
* Dialog for DETAIL.
* uncomment if this is to be rendered in a DIV and
*  not in a floating dialog
*/
/* #alert-simple-panel-detail { */
/* /* 	overflow: visible !important; */ */
/* 	position: absolute; */
/* 	bottom: 24px; */
/* 	left: 73px; */
/* 	height: 280px; */
/* 	width: 600px; */
/* 	padding: 3px; */
/* 	background: #fff; */
/* 	border: 1px solid #C5C5C5; */
/* 	-moz-border-radius: 5px; */
/* 	-webkit-border-radius: 5px; */
/* 	border-radius: 5px; */
/* } */

#alert-simple-panel-detail-header {
	overflow: hidden;
	position: relative;
	height: auto;
/* 	background: #4D6A75; */
	background: #4C4D4D;
	border: 1px solid #fff;
	font-weight: 800;
	color: #fff;
	padding: 2px 0 1px 3px;	
}

#alerts-update-typegeoms {
	padding: 8px 0 0 0;
}

#full-advance-alerts-panel .dataTables_scrollBody {
/* 	height: 240px !important;  */
}

#alerts-update-modgeom {
	margin-right: 5px;
}

.alerts-form .itemform div {
	float: left;
}
.alerts-form .itemform div:first-child {
	width: 30%;
}
#alerts-insert-typegeoms div:first-child {
	width: auto;
}
.alerts-form .itemform .itemform-inline div  {
	float: none;
	width: auto;
}
#alerts-update-typegeoms div {
	float: left;
}

#alerts-zoom {
	float: left;
}

#alerts-zoom-selected {
	float: left;
}