/* CATALOG */
/*
* Catalog DIALOG.
* uncomment if this is to be rendered in a DIV and
*  not in a floating dialog
*/
/* #catalog { */
/* 	position: absolute; */
/* 	bottom: 24px; */
/* 	left: 0px; */
/* 	height: 300px; */
/* 	background: #fff; */
/* 	right: 0px; */
/* 	z-index: 1000; */
/* } */

#catalog-input-keyword {
	width: 100%;
}

#catalog-header, #catalog-form, 
#catalog-results, #catalog-body {
	position: absolute;
}
#catalog-header {
	left: 0;
	right: 0;
	top: 0;
	height: 20px;
/* 	background: #4D6A75; */
	background: #4C4D4D;
	border: 1px solid #fff;
	font-weight: 800;
	color: #fff;
	padding: 2px 0 1px 3px;
}
#catalog-header div {
	float: right;
	font-size: 10px;
/* 	padding-right: 4px;	 */
}
.itemform-csw {
	padding-left: 5px;
	overflow: hidden;
	padding: 2px 0 2px 0;
}
.itemform-csw input {
	width: 200px;
	height: 20px;
	padding: 0 0 0 3px;
}
.itemform-csw-header {
	margin-top: 6px;
	border-top: 1px solid #F0F0F0;
	padding-top: 6px;
}
.itemform-csw-header input {
	float: left;
	width: 14px;
	margin-top: 5px;
}
#catalog-form-advanced {
	padding: 3px 0 5px 3px;
	border-bottom: 1px solid #BDBDBD;
}
.itemform-label-checkbox-header {
/* 	font-weight: 800; */
	padding-top: 4px;
/* 	font-size: 12px; */
}
.itemform-label {
	float: left;
	width: 125px;
	padding: 4px 0 0 5px;
	font-size: 13px;
	font-weight: 600;
}
#catalog-input-bbox {
	margin-top: 7px;
	margin-left: 1px;
	width: 13px;
}
#catalog-form, #catalog-results {
/* 	top: 24px; */
	top: 0px;
	bottom: 0px;
}
#catalog-form {
	left: 0;
/* 	width: 340px; */
	width: 355px;
	padding: 5px;
	overflow: auto;
}

#catalog-form .itemform div:first-child{
	float: none;
}

#catalog-form .itemform-csw-first .itemform-label {
	width: 128px;	
}
#catalog-results {
	left: 365px;
	right: 0px;
}
#catalog-results-header {
	height: 18px;
	font-weight: 800;
/* 	font-size: 14px; */
	background: #f2f2f2;
	padding: 4px 0 4px 5px;
	border-bottom: 1px solid#DADADA;
/* 	border-left: 1px solid #4D6A75; */
	border-left: 1px solid #4C4D4D;
}
#catalog-body {
	overflow: auto;
	position: absolute;
	top: 25px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 6px;
/* 	border-left: 1px solid #4D6A75; */
	border-left: 1px solid #4C4D4D;
}
.catalog-rec {
	overflow: hidden;
	border-bottom: 1px dotted #4D7583;
}

.catalog-rec-header {
	font-weight: 700;
	font-size: 12px;
	overflow: hidden;
}
.catalog-rec-header .item {
	float: left;
	padding: 5px;
}
.header-image {
	margin-left: 2px;
	cursor: pointer;
	font-size: 8px;
	min-width: 10px;
}
.catalog-rec-title {
	float: left;
}
.catalog-rec-body {
	overflow: hidden;
	border-top: 1px solid #dddddd;
}
.catalog-rec-body-left {
	width: 180px;
	height: 120;
	float: left;
	padding: 3px;
}
.catalog-rec-body-right {
	overflow: hidden;
	padding: 3px 2px 3px 5px;
	border-left: 1px solid #dddddd;
	min-height: 120px;
}
.catalog-thumbnail {
	width: auto;
	height: auto;
}
.catalog-rec-body {
	padding: 5px 0 5px 0;
}
.catalog-rec-body-left img {
	width: 160px;
	height: 88px;
}
.details-title {
	font-size: 13px;
	font-weight: 800;
}
.details-container {
	padding: 0 0 4px;
}

#catalog-form-footer {
	padding: 5px 0 2px 0;
	overflow: hidden;
	float: right;	
}

/* Buttons record toolbar */
.catalog-rec-buttons {
	overflow: hidden;
	float: right;
}
.catalog-rec-buttons div, #catalog-form-footer div {
	float: left;
	background: #f2f2f2;
	border: 1px solid #a2a2a2;
	padding: 3px;
	cursor: pointer;
	margin-left: 4px;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.catalog-rec-buttons div i {
	float: left;
	margin-right: 4px;
	font-size: 16px !important;
	padding-top: 1px;
}

#csw-catalog-bbox-panel {
/* 	padding-left: 130px; */
/* 	padding-top: 5px; */
	overflow: hidden;
	margin-left: 100px;
}
#csw-catalog-bbox-panel div:first-child,
#csw-catalog-bbox-panel div:nth-child(2), 
#csw-catalog-bbox-panel div:nth-child(3)
{
	float: none;
  	width: auto;
  	padding: 0;
}

#csw-catalog-bbox-select-button{
	float: left;
	width: 47px;
	margin-right: 15px;
}

#csw-catalog-bbox-toggle-button {
	width: 47px;
}

#csw-catalog-bbox-toggle-button .itemform div:nth-child(2), 
#csw-catalog-bbox-toggle-button .itemform div:nth-child(3){
	padding: 0 0 0 0 !important;
}


#csw-catalog-bbox-selected-buttons {
	font-size: 15px;
	width: auto;
}

#csw-catalog-bbox-selected-buttons .ui-button-text{
	padding: 0.1em 1em !important;
}

#csw-catalog-bbox-select-button .itemform div:first-child {
	padding-bottom: 0px !important;
}


#csw-catalog-bbox-selected-text {
	color: #0C77BE;
}
#csw-catalog-bbox-selected-text {
	padding-top: 5px;
}