html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1.3;
}

/*
* DATATABLES
*/

th, td { 
/* Rimosso perchï¿½ incasina la tabella degli alert....*/
/* 	white-space: nowrap;  */
}
    
div.dataTables_wrapper {
	margin: 0 auto;
}

/*
* JQUERY VALIDATOR
*/
.validationErrorClass {
	background: rgba(255, 66, 66, 0.2);
	border: 1px solid red;
}

/* Loading dialog */
.loading-dialog-panel .ui-widget-header {
	display: none !important;
}
.loading-dialog-panel .image-loading {
	text-align: center;
	padding: 15px 0 3px 0;
}
.loading-dialog-panel .text-loading {
	text-align: center;
	padding-top: 5px;
	font-weight: 700;
	padding-bottom: 5px;
}

.image-loading-panel img {
	position: absolute;
	margin: auto;
	top: 30px;
	left: 0;
	right: 0;
	/* bottom: 0; */
}

.text-danger {
	color: #a94442;
}

/* Error button message validator */
.btn-validate-error {
	position: relative;
	color: #D20000;
	margin-left: 3px;
	font-size: 13px;
}

/* DRAG AND DROP CLASSES - Target and Active panels */
.ui-state-targetpoint {
	background: rgba(81,133,211,0.2);
	border: 1px solid #5185D3 !important;
	min-height: 20px;
}
.ui-state-targetactive {
	background: rgba(52,229,75,0.2);
	border: 1px solid #34E54B !important;
}
.ui-state-targetsort {
	background: rgba(81,133,211,0.2);
	border: 1px solid #5185D3 !important;
	min-height: 50px;	
}

/* Alert Dialog*/
.ui-icon-left {
	overflow: hidden;
}
.ui-icon-left span {
	float: left;
	margin: 0 10px 0 5px;
}
.ui-icon-left .message-dialog {
	overflow: hidden;
}

/* BUTTONS: Controls and grids*/
.btn-disable {
	background: #D1D1D1;
	border: 1px solid #D1D1D1;
	cursor: default;
}

/*
* Controllo griglia e pannello result
*/
.btn-search-results-disabled {
	cursor: default;
	color: #D1D1D1 !important;
}

.btn-active {
	background: #23527c !important;
}
.btn-active-grid {
	background: #0C77BE !important;
	color: #fff !important;
	/*border: 1px solid #000 !important;*/
}
.grid-toolbar-item:hover {
	background: #F7F7F7;
	border: 1px solid #969696;
}
.btn-grid-disable {
	color: #E7E7E7 !important;
	cursor: default !important;
	background: #FAFAFA !important;
	border: 1px solid #E6E6E6 !important;
}

.btn-deactivate {
	color: #fafafa;
}

/****************************************/
/* Override / Addition to Font Awesome  */
/****************************************/

.fa-medium {
	font-size:1.5em !important;
}

.fa-custom-size {
	font-size: 9px;
}

.fa-custom-size-16 {
	font-size: 16px !important;
}

.close-collapse-button {
	font-size: 16px !important;
	padding-right: 4px;
	float: right;
}

/* ****************** */
/* Override Jquery UI */
/* ****************** */
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding: 0.2em 1em !important;
}
.ui-tabs .ui-tabs-panel {
	padding: 1em 0.6em !important;
}
.ui-widget {
	font-family: Arial !important;
	font-size: 1.0em;
}

.ui-slider-handle {
	background: #A5BDC9 !important;
	border: 1px solid #6C94B9 !important;
	text-decoration: none !important;
	cursor: pointer !important;
	height: 1.7em !important;
	top: -.6em !important;
}
.ui-slider-handle:focus {
	outline: none !important;
}

/*
see: http://stackoverflow.com/questions/16917430/jquery-ui-1-10-dialog-and-zindex-option
*/
.ui-dialog {
	z-index: 1000 !important;
	overflow: visible;
}

.ui-front {
	z-index: 1000 !important;
}
.ui-dialog .ui-dialog-content {
	padding: 0px 0px 0px 0px !important;	
}

.ui-dialog-titlebar {
	padding: 2px 2px 0px 4px !important;
/* 	background: #4D6A75 !important; */
	background: #4C4D4D !important;
	color: #fff !important;	
}

.ui-dialog .ui-dialog-titlebar-close {
	width: 16px !important;
	height: 16px !important;
/* 	margin: -8px 0 0 0 !important;	 */
}

.ui-dialog .ui-dialog-titlebar-collapse {
	width: 16px !important;
	height: 15px !important;
	margin-right: 3px;
}

.ui-dialog .ui-dialog-titlebar-collapse span {
	margin: 0px !important;
}

.ui-dialog .ui-dialog-titlebar-minimize {
	width: 16px !important;
	height: 15px !important;
	margin-right: 3px;
}

.ui-dialog .ui-dialog-titlebar-minimize span {
	margin: 0px !important;
}

.ui-dialog .ui-dialog-titlebar-restore {
	width: 16px !important;
	height: 15px !important;
	margin-right: 3px;
}

.ui-dialog .ui-dialog-titlebar-restore span {
	margin: 0px !important;
}

.ui-slider {
	font-size: 0.5em !important;
}

#dialog-extend-fixed-container {
	bottom: 25px !important;
}


/* ************************** */
/* Override Jquery Datatable  */
/* ************************** */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: white !important;
	border: 1px solid #4D6A75;
	background-color: #7194A1;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7194A1), color-stop(100%, #4D6A75));
	background: -webkit-linear-gradient(top, #7194A1 0%, #4D6A75  100%);
	background: -moz-linear-gradient(top, #7194A1 0%, #4D6A75 100%);
	background: -ms-linear-gradient(top, #7194A1 0%, #4D6A75 100%);
	background: -o-linear-gradient(top, #7194A1 0%, #4D6A75 100%);
	background: linear-gradient(to bottom, #7194A1 0%, #4D6A75 100%);
}

.custom-hidden {
	display: none;
}

.custom-float-left {
	float: left;
}

.custom-float-right {
	float: right;
}
textarea {
	resize: none;
	min-width: 209px;
}

.ui-select {
	height: 26px;
	background: #f2f2f2;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


table.dataTable thead th, table.dataTable td  {
	padding: 3px 10px 3px 10px;
	text-align: left;
}
.data-grid-form-header {
	max-width: 500px;
	margin: auto;
	border-bottom: 1px solid;
	font-weight: 800;
	font-size: 13px;
	padding: 3px 5px 6px 5px;
}
#advance-goto-panel .data-grid-form-header {
	border-bottom: 1px solid #CBCBCB;
}
.data-grid-actions {
	position: relative;
	overflow: visible;
	height: 32px;
	padding: 1px 0 2px 0;
	border-bottom: 1px solid #f5f5f5;
}
.grid-toolbar-item {
	float: right;
	margin-left: 2px;
	padding: 3px 3px 0px 3px;
	border: 1px solid #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
	background: #F0F0F0;
	border: 1px solid #ccc;	
}
input[type='checkbox'] {
	float: left;
}
.label-checkbox {
	padding-top: 5px;
}
.form-label-title {
	font-size: 12px;
	font-weight: 700;
	padding-left: 2px;
}
.itemform {
	overflow: hidden;
	height: auto;
	width: auto;
	min-width: 216px;
	padding: 3px 4px 3px 4px;
	border-bottom: 1px solid #dedede;
}

/*
* come itemform
* ma senza css sui figli (div first child, etc)
*/
.simpleitemform {
	overflow: hidden;
	height: auto;
	width: auto;
	min-width: 216px;
	padding: 3px 4px 3px 4px;
	border-bottom: 1px solid #dedede;
}

.no-border {
	border-bottom: none;
}

.itemform div:first-child {
	float: left;
	width: 30%;
	padding-bottom: 2px;
}
.itemform div:nth-child(2), .itemform div:nth-child(3){
	padding: 3px 5px 0 0;
}
/* .itemform button {
	float: left;
} */

.nofloat {
	float: none !important;
}
.form-footer {
	overflow: hidden;
	padding-top: 3px;
} 
.form-footer button {
	float: right;
}
.itemform-no-border input, .itemform-no-border textarea, .itemform-no-border select,
.itemform input, .itemform textarea, .itemform select, 
.itemform-csw input, .itemform-csw textarea, .itemform-csw select {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #A0A0A0;	
}
.itemform input {
	height: 20px;
	border: 1px solid #A0A0A0;
	padding-left: 2px;
}
.itemform textarea {
	min-width: 264px;
}
.itemform select {
	height: 26px;
	resize: none;
}
#form-dialog .itemform {
	padding: 5px 0 5px 0;
}
#form-dialog textarea {
	min-width: 243px !important;
}

/* DRAG HELPER (SECURE DRAGGING) */
.drag-enable {
	position: absolute;
	left: -100px;
	top: -100px;
/*  	bottom: -100px;  */
/*  	right: -100px; */
	bottom: 0px;
	right: 0px; 
/* 	border: 1px solid red; */
}

.geonetworkDialogHidden {
	display: none !important;
}

/*begin baselayer*/

#baselayers-select {
    position: relative;
    top: -46px;
    left: 46px;
}

#baselayers-select.no-display{
    display: none;
}

#baselayers-select .baselayer-circle {
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	width: 39px;
	height: 39px;
	background: #5A738E;
	color: #FFFFFF;
	border: solid 6px transparent;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}

#baselayers-select .baselayer-circle:hover {
	background: #23527c;
}

#baselayers-select .baselayer-circle.se-selected {
    background: #DF0101 !important;
}

.baselayer-circle .se-circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 6px;
}

/*end baselayer*/


