.externalWMS {
	color: #002AFF;
}

.word-wrap {
	-ms-word-break: break-all;

     /* Be VERY careful with this, breaks normal words wh_erever */
     word-break: break-all;

     /* Non standard for webkit */
     word-break: break-word;

	-webkit-hyphens: auto;
   	-moz-hyphens: auto;
    hyphens: auto;
}

.m-header {
	background-color: #4D6A75;
	color: #ffffff;
	padding: 7px 7px 7px 25px;
	font-size: 14px;
	overflow: hidden;
}
/* #leftPanel .m-header {
	padding: 7px 7px 7px 7px;
} */
/* Immagini toggle menu */
#menu_toggle {
	position: absolute;
	height: 35px;
	width: 15px;
	cursor: pointer;
	left: -15px;
	top: 0px;
	padding: 2px 0 0 2px;
	background: #FFFFFF;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #C8C8C8;
}

#miniLegend {
	font-weight: 400;
	font-size: 11px;
	padding: 2px 9px 4px 0px !important;
	border-bottom: 1px solid rgb(194, 194, 194);
	/* float: right; */
	text-align: right;
	background: #ECECEC;
/* box-shadow: 0px 0px 1px 0px #B5B5B5; */
/* border-style: dashed; */
}

#miniLegend div:first-child {
	padding: 0 0 0 1px !important;
}

#miniLegend div:nth-child(2) {
	color: blue;
	padding: 0 0 0 1px !important;
}

#menu_toggle div {
	margin-top: 6px;
    margin-left: 6px;
}
/* #menu_tabs { */
/* 	padding-bottom: 10px; */
/* } */

#tab_toc {
/* 	overflow: auto; */
}

#tab_search {
	overflow: auto;
}

#gcatalog_toggle {
	position: absolute;
	height: auto;
	width: auto;
	cursor: pointer;
	right: 0px;
	top: 7px;
}
#menu_toggle img, #gcatalog_toggle img {
	width: 20px;
	height: 20px;
}

/* SWITCHER MENU */
#menu-switcher {
	overflow: hidden;
	padding: 5px 4px 5px 4px;
	font-size: 15px;
	background-color: #5A738E;
	
	border-bottom: 1px solid #FFFFFF;
	box-shadow: 2px 0px 5px 1px #A9A9B9;
	-moz-box-shadow: 2px 0px 5px 1px #A9A9B9;
	-webkit-box-shadow: 2px 0px 5px 1px #A9A9B9;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#A9A9B9', Direction=100, Strength=1);		
}
.menu-tab-active {
	font-weight: 700;
	color: #FFFFFF !important;
}
.menu-tab-switcher-item {
	float: left;
	overflow: hidden;
	padding: 1px 4px 1px 1px;
	cursor: pointer;
/* 	color: #585858; */
	color: #FFFFFF;
}
.menu-switcher-icon {
	font-size: 9px;
}
.menu-tab-switcher-item div {
	float: left;
	padding: 0 3px 1px 1px;
}
.menu-tab-switcher-item span {
	flont-size: 10px;
}
.legend_layer_tabs {
/* 	max-height: 450px; */
/* 	overflow: auto; */
}

.tab-item {
	min-height: 50px;
}

#tab_layers_active {
	border-bottom: 1px solid #a0a0a0;

/* 	box-shadow: 0px 0px 5px #C0C0C0;
	-moz-box-shadow: 0px 0px 5px #C0C0C0;
	-webkit-box-shadow: 0px 0px 5px #C0C0C0;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#C0C0C0', Direction=100, Strength=1); */	
}

#menu_layers_active .menu_title div {
	padding: 4px 0 0 1px;
}
#tab_layers {
	padding-top: 5px;
}

#tab_layers .tab_content, #menu_layers_active .menu_item_content{
	overflow: auto;
}


.catalogLayerTitle {
	padding-left: 6px;
	padding-top: 5px;
	padding-bottom: 7px;	
}

.root_icon {
	border: 1px solid #AFAFAF;
	float: left;
	font-size: 8px;
	margin: 0 0.5em;
	padding: 0px 2px 0px 2px;
	
	border-radius: 2em;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;

	box-shadow: 0 0 2px #C7C7C7;
	-moz-box-shadow: 0 0 2px #C7C7C7;
	-webkit-box-shadow: 0 0 2px #C7C7C7;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#C7C7C7', Direction=100, Strength=1);

	
}

.root-tree-icon {
	float: left;
	font-size: 6px;
	margin-right: 3px;
}

.root_icon_collapsed:before {
	content: "\2B";
}

.root_icon_expanded {
	padding-left: 4px;
	padding-right: 3px;
}

.root_icon_expanded:before {
	content: "\2D";
}

.menu_title {
	font-weight: bold;
	color: #777;
	
/*	padding: 0px 0 3px 0px;
 	border-bottom: 1px solid #FFFFFF;
	box-shadow: 0 1px 1px -1px #A3A3A3;
	-moz-box-shadow: 0 1px 1px -1px #A3A3A3;
	-webkit-box-shadow: 0 1px 1px -1px #A3A3A3; 
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#A3A3A3', Direction=100, Strength=1); */
}

.root_item {
/* 	background-color: #ffffff; */
	color: inherit;
	font-weight: normal;
/* 	border-bottom: 1px solid #FFFFFF; */
	padding: 2px 0 2px 4px;
}

.root_item ul {
	list-style-type: none;
	padding: 2px 5px 0 1px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	
	/* padding-left: 23px; */
	-webkit-margin-before: 0.1em;
	-webkit-margin-after: 0.4em;
	-webkit-padding-start: 18px;
	
	-moz-margin-before: 0.1em;
	-moz-margin-after: 0.4em;
	-moz-padding-start: 18px;
	
}

.root_item ul li {
	height: auto;
	overflow: hidden;
/* 	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border: 1px solid #ffffff; 
	padding: 0 2px 0 0; */
	padding: 2px;
	/* border-bottom: 1px solid #E9E9E9; */
	/* padding: 5px 0 5px 0px; */
	clear: both;
	/*opacity: 0.4;
	filter: alpha(opacity = 40);*/
}

.root_item ul li .item-text, .root_item ul li .item-transparency {
	opacity: 0.4;
	filter: alpha(opacity = 40);
}

.item-layer {
	overflow: hidden;
	height: auto;
}

.item-layer div {
	padding-top: 2px !important;	
}

/* .root_item ul li.enabled:hover .item-layer {
	cursor: pointer;
	background: #f2f2f2;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	border: 1px solid #f2f2f2;
	opacity: 1;
	filter: alpha(opacity = 100) !important; For IE8 and earlier
}

.root_item ul li.enabled:hover .item-transparency {
	cursor: pointer;
	background: #f2f2f2;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	border: 1px solid #f2f2f2;
	opacity: 1;
	filter: alpha(opacity = 100) !important; For IE8 and earlier
} */

/* .root_item ul li:hover img {
	opacity: 0.4;
	filter: alpha(opacity = 40) !important; For IE8 and earlier
} */
.root_item ul li img {
	cursor: pointer;
}

.root_item ul li.enabled:hover img {
	opacity: 1;
}

.added {
/* 	color: #002AFF; */
/* 	color: #BABABA; */
}

.added .menu-activate-layer {
	display:none;
}


.enabled .item-text, .enabled .item-transparency {
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important; /* For IE8 and earlier */
}

/* .root_item ul li.selected .item-layer {
	background: #DFDFDF !important;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	opacity: 1;
	filter: alpha(opacity = 100) !important; For IE8 and earlier
}

.root_item ul li.selected .item-transparency {
	background: #DFDFDF !important;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	opacity: 1;
	filter: alpha(opacity = 100) !important; For IE8 and earlier
} */

.root_item ul li.enabled:hover {
	cursor: pointer;
	background: #f2f2f2;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/* border: 1px solid #f2f2f2; */
	opacity: 1;
	filter: alpha(opacity = 100) !important; /* For IE8 and earlier */
}
.root_item ul li.selected {
	background: rgba(26, 73, 107, 0.7) !important;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
}

/* .selected { */
/* 	background: #DFDFDF !important; */
/* 	-moz-border-radius: 4px; */
/* 	-webkit-border-radius: 4px; */
/* 	border-radius: 4px; */
/* 	border: 1px solid #DFDFDF; */
/* 	opacity: 1; */
/* 	filter: alpha(opacity = 100) !important; For IE8 and earlier */
/* } */

.root_item ul li .menu-toggle-layer {
	float: left;
	height: auto;
	/* width: 10px; */
	padding: 2px 5px 0 2px;

}
.root_item ul li .menu-activate-layer {
	float: right;
	height: auto;
	/* width: 10px; */
	padding: 2px 5px 0 2px;

}
.root_item ul li .item-text {
/* 	float: left; */
}
.root_item ul li .menu-actions {
	float: right;
	overflow: hidden;
	width: 44px;
	padding: 0;
}
.root_item ul li .menu-actions span {
	float: right;
	padding-left: 2px;
	padding-right: 2px;
}
.root_item ul li .item-text {
	overflow: hidden;
}
.root_item ul li div img {
	width: 11px;
	height: 12px;
}

.removeWmsLayerIcon {
	position: absolute;
	right: 20px;
}

/* Layer Transparency */
.item-transparency {
	clear: both;
	height: auto;	
/* 	padding: 6px 18px 5px 24px; */
	padding: 0px 2px 5px 19px;
	overflow: hidden;
}
.item-transparency-multi {
	padding: 4px 14px 4px 4px;
}
.item-transparency .item-transparency-text {
	float: left;
	width: auto;
	font-size: 11px;
}
.item-slider-container {
	overflow: hidden;
	padding: 4px 10px 3px 15px;
}
