/* Zoom Control */
div.olControlZoom {
	position: absolute;
/* 	top: 100px; */
	top: 0px;
	left: 10px;
	/* right: 30px; */
	background: rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	padding: 2px;
}

.olControlLoadingPanel {
	left: 0;
	right: 0;
	width: 100%;
	height: 5px;
	background-image: url("../images/progress2.gif");
	background-size: 100% 5px;
	position: absolute !important;
	top: 0;
}

div.olControlZoom {
	background-color: transparent;
}

div.olControlZoom a {
	height: 39px;
	width: 39px;
	color: transparent;
	background: #5A738E;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	border-radius: 19px;
	background-size: 39px 39px;
	background-repeat: no-repeat;
	margin-top: 8px;
}
div.olControlZoom a:hover {
	background: #23527c;
	height: 39px;/*needed to rewrite ol classes*/
	width: 39px;/*needed to rewrite ol classes*/
	background-size: 39px 39px; /*needed to rewrite ol classes*/
}

.olControlOverviewMapElement {
	padding: 0px 0px 0px 0px;
	background-color: white;
	-moz-border-radius: 1em 0 0 0;
}

.olControlZoomIn {
	background-image:url('../images/zoom_in.png') !important;
}

.olControlZoomOut {
	background-image:url('../images/zoom_out.png') !important;
}

/* SCALEBAR */
.olControlScaleBar {
 	left: 5px;
/* 	right: 0px; */
	bottom: 25px !important;
}

.ui-widget-content{
	color: #777;
}