.search-results-layer {
	overflow: hidden;
	padding: 2px;
}
.search-results-layer-name {
/* 	float: left; */
	padding-top: 3px;
	overflow: hidden;
}
.search-results-number-and-loading {
	padding-top: 3px;
}
.search-results-number-and-loading, .search-results-tools {
	float: right;
	margin-left: 4px;
}
.search-results-error {
	float: right;
	padding-top: 3px;
	color: red;
}

#search-header {
	overflow: hidden;
	padding: 8px 2px 2px 4px;
	border-bottom: 1px solid #f2f2f2;
}
#search-header .fa-stack {
	font-size: 10px;
}
#search_result_panel_clear_all_cont {
	float: left;
	margin-right: 5px;
}
.btn-icon-text-cont {
	cursor: pointer;
}
.btn-icon-text {
	color: #595959;
	padding-top: 1px;
}
.btn-icon-text-cont:hover .btn-icon-text {
	color: #000;
}
#searchResultPanel {
	padding: 6px 5px 6px 5px;
}
.search-results-layer .menu-activate-layer {
	cursor: pointer;
	font-size: 10px;
	color: #00BA2D;
	
}
