#alertsConfigContainer, #alertTypeConfigContainer, #alertsIntersectionConfigContainer {
	padding: 15px;	
}

.header {
	font-weight: 800;
	padding: 6px;
	border: 1px solid #E5E5E5;
	background: #F9F9F9;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.itemform {
	border-bottom: none !important;	
}

.itemform div:first-child {
/* 	width: 21% !important; */
	width: 300px !important;
	padding-top: 7px;
}

.form-items-container {
	overflow: hidden;
	margin: auto;
	max-width: 500px;
}

#form-dialog .form-items-container {
	padding-left: 15px;
}
