.form-items-container {
	overflow: hidden;
	margin: auto;
	max-width: 500px;
}

fieldset {
	margin-top: 10px;
	border: 1px solid #919191;
  	border-radius: 3px
}

fieldset legend {
	font-size: 13px;
}

.item-slider-transparency {
	margin: 7px 0 7px 4px;
	min-width: 190px;
}
#layer-load-wms {
	margin-left: 3px;
}
#select-layer-fromwms .data-grid-form-header {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 20px;	
}
#layer-list-wms {
	position: absolute;
	overflow: auto;
	right: 0px;
	left: 0px;
	bottom: 0px;
	top: 33px;
}
.layer-item-wms {
	cursor: pointer;
	padding: 3px;	
}

.layer-item-wms.selected {
	font-weight: 800;
}

.layer-item-wms:hover {
	background: #f2f2f2;
}

#layer-select-source, #layer-input-responsible,
#layer-input-attribute-name-for-info, #layer-input-epsg-for-wmsgetfeatureinfo,
#layer-input-attribute-sldurl, #layer-input-cacheworkspace,
#layer-input-cacheurl, #layer-input-desc, #layer-input-title,
#layer-input-wfs_url, #layer-input-wcs_url, #layer-input-metadata_uuid
 {
	width: 265px;
}
#layer-input-opacity {
	width: 255px;
}

#layer-input-opacity {
	float: left;
}

#layer-input-name {
	width: 220px;
}

div.form-label-title {
	width: 180px !important;
	padding-bottom: 0px;
	padding-top: 7px;
}