#generalConfigContainer {
	padding: 15px;	
}

#generalConfigContainer .header {
	font-weight: 800;
	padding: 6px;
	border: 1px solid #E5E5E5;
	background: #F9F9F9;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#generalConfigContainer .itemform {
	border-bottom: none !important;	
}

#generalConfigContainer .itemform div:first-child {
	width: 300px !important;
	padding-top: 7px;
}