.data-grid-actions {
	margin-bottom: 6px;
}
.grid-toolbar-item {
	margin-left: 3px;
	background: #f2f2f2;
	margin-left: 2px;
	border: 1px solid #8B8B8B;
	padding: 2px 4px 1px 4px;
}

#form-dialog input {
	width: 215px;
}

#form-dialog .form-label-title {
	padding-top: 8px;
}

/* #form-dialog .itemform div {
	float: left;
}
#form-dialog .itemform div:first-child {
	width: 30%;
	padding-bottom: 2px;
}
#form-dialog .itemform div:nth-child(2) {
	width: 69%;
}
#form-dialog .itemform div:nth-child(2) input,
#form-dialog .itemform div:nth-child(2) select {
	width: 99%;
} */
