/* You can add global styles to this file, and also import other style files */
@import "./app/app.component.scss";

html,body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
}

.map{
    height: 100%;
    width: 100%;
}